:root {
  --color-primary: #122d85;
  --color-invalid: rgb(141, 23, 23);
  --color-valid: var(--green-900);
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--color-primary);
}
.color-primary {
  color: var(--color-primary);
}
.bold {
  font-weight: bold;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.flex-container {
  display: flex;
}
.flex-resize {
  flex-grow: 1;
}
.navigation-button {
  margin-bottom: 0.5rem;
}

/** validation */
.valid {
  color: var(--color-valid);
}
.invalid {
  color: var(--color-invalid);
}
.invalid-border {
  border-color: var(--color-invalid);

  &:enabled:hover,
  &:enabled:focus {
    border-color: var(--color-invalid);
  }
}
small {
  color: var(--color-invalid);
}
