:root {
  --color-primary: #122d85;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--color-primary);
}
.color-primary {
  color: var(--color-primary);
}
.bold {
  font-weight: bold;
}
.vertical-center {
  display: flex;
  align-items: center;
}
