/* prevent eye get's invisible on focused password in input group */
:deep(.pi-eye) {
  z-index: 1;
}
/** add space between label and input */
:deep(label + .p-component),
:deep(label + span.p-inputwrapper) {
  margin-top: 0.25em;
}
/** remove text decoration from button links */
:deep(a:has(button.p-button)) {
  text-decoration: none;
}
